<form class="spot-form" {{action "save" on="submit"}}>
  <label>
    Pick a spot to share
    {{#link-to 'image.new'}}or add another{{/link-to}}
  </label>

  <ul class="image-picker">
    {{#each images as |image|}}
      {{image-item content=image selected=selected select="select"}}
    {{/each}}
  </ul>

  {{#each model.errors.images as |error|}}
    <div class="error">{{error.message}}</div>
  {{/each}}


  {{input class="name" value=model.spot.name type="text" placeholder="Name the spot..."}}

  {{#each model.spot.errors.name as |error|}}
    <div class="error">{{error.message}}</div>
  {{/each}}

  <input type="submit" value="Create!">
</form>
