<section class="image-new">
  {{#if images.length}}
    <h1>{{images.length}} created!</h1>
  {{/if}}

  <label>
    Pick an image
    {{image-upload uploads=uploads action="imageUploaded"}}
  </label>

  <ul class="uploads">
  {{#each uploads}}
    <li {{bind-attr class="saved failed"}}>
      <img {{bind-attr src=original}} alt="spot">

      <p class="error">{{error}}</p>

      {{#unless saved}}
        <div class="progress-bar-indication">
          <span class="meter" {{bind-attr style=barWidth}}>
            <p>{{toFixed progress 0}}%</p>
          </span>
        </div>
      {{/unless}}
    </li>
  {{/each}}
  </ul>
</section>
