<section class="image-new">
  <label>
    <aside>
      <img {{bind-attr src=original}} alt="spot">
    </aside>

    <div class="progress-bar">
      <span class="meter" {{bind-attr style=barWidth}}></span>
    </div>

    {{image-upload model=model action="imageUploaded"}}
  </label>

  <address>
    Latitude: {{location.latitude}}
    Longitude: {{location.longitude}}
  </address>
</section>
