<label data-image="{{unbound id}}">
  <img {{bind-attr src=thumbnail alt=thumbnail}}>
  {{input type="checkbox" checked=checked}}
</label>
<button data-destroy-image="{{unbound id}}" {{action "destroyImage" this}}>X</button>
